<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
</head>
<body>
<h1>Livros</h1>
<a href="/books/createBook">Adicionar livro</a>

<table class = "table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Descrição</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.description}"></td>
        <td>
            <a th:href="@{/books/{id}/edit(id=${book.id})}">Editar</a>
            <a th:href="@{/books/{id}/delete(id=${book.id})}">Excluir</a>
        </td>
    </tr>
</table>
</body>
</html>